<table>
    <tr >
        <td class="firstColumn">Ime:</td>
        <td class="secondColumn"> {{user.firstname}}</td>
        <td rowspan="6"><img  style="max-width:100px ;" src="/assets/users/{{user.picture}}"></td>
    </tr>
    <tr >
        <td class="firstColumn">Prezime:</td>
        <td class="secondColumn"> {{user.lastname}}</td>
    </tr>
    <tr >
        <td class="firstColumn">Korisnicko ime:</td>
        <td class="secondColumn"> {{user.username}}</td>
    </tr>
    <tr >
        <td class="firstColumn">Email:</td>
        <td class="secondColumn"> {{user.email}}</td>
    </tr>
    <tr >
        <td class="firstColumn">Telefon:</td>
        <td class="secondColumn"> {{user.phone}}</td>
    </tr>
    <tr >
        <td class="firstColumn">Adresa:</td>
        <td class="secondColumn"> {{user.address}}</td>
    </tr>
    
       
    
</table>