<div> <h1>Dobrodosli u biblioteku!</h1></div>
<hr>
<menu>
    <li ><button (click)="pocetna()">Pocetna strana</button></li>
    <li *ngIf="user==null"><button (click)="listen()"><a routerLink="login">Prijava/Registracija</a></button></li>
    <li><button><a routerLink="search">Pretraga biblioteke</a></button></li>
    <li *ngIf="user!=null"><button routerLink="profile">Moj profil<img id="profilepic" src="/assets/users/{{user.picture}}"></button></li>
    <li *ngIf="user!=null"><button routerLink="zaduzene">Pregled zaduzenih knjiga</button></li>
    <li *ngIf="user!=null"><button routerLink="istorija">Istorija zaduzivanja</button></li>
    <li *ngIf="user!=null && user.type=='moderator'"><button routerLink="dodajKnjigu">Dodaj knjigu</button></li>
    <li *ngIf="user!=null"><button (click)="logout()" routerLink="">Odjava</button></li>
  </menu>
<router-outlet ></router-outlet>
<footer>
    @ Copyright 2022 Elektrotehnicki fakultet
</footer>