<div *ngIf="ready">

    
    <span *ngIf="ready && (zaduzenja==null || zaduzenja.length==0)"><h3 style="color:rgb(203, 124, 45)">Nemate zaduzenih knjiga.</h3></span>
        <table>
            <tr>
                <td *ngFor="let b of zaduzenja">
                 <div class="card">
                     <img src="{{pic(b)}}">
                        <div class="container">
                         <h4><b>{{b.title}}</b></h4>
                         <span *ngFor="let a of b.author">{{a}}<br></span>
                         <span *ngIf="dana(b)>=0" style="color:green">Preostalo dana: {{dana(b)}}</span>
                         <span *ngIf="dana(b)<0" style="color:red; font-weight: bolder;">Kasnite dana: {{-dana(b)}}</span>
                         <br>
                         <button (click)="razduzi(b)">Razduzi</button>
                         <button *ngIf="!b.prolonged" (click)="produzi(b)">Produzi</button>
                        </div>
                        
                        
                 </div>
                </td>
                
            </tr>
        </table>
       













    

























</div>