ul{
    list-style-type: none;
    padding-left: 0%;    
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: honeydew;
    height: 350px;
    align-content: center;
  }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
   text-align: center;
}
span{
    font-style: oblique;
}
button{
    width: 100%;
}
