#searched{
    border: 1px black ;
    border-style: double;
    
}
#searched th{
    border: 1px  black ;
    border-style: double;
}
#searched td{
    border: 1px black ;
    border-style: double;
}
img{
    max-height: 100px;
    height: auto;
    width: auto;
}