<h2>Pretrazite biblioteku:</h2>
<table id="table1">
    <tr>
        <td>Naziv:</td>
        <td><input type="text" name="title" [(ngModel)]="title"></td>
    </tr>
    <tr>
        <td>Autor:</td>
        <td><input type="text" name="author" [(ngModel)]="author"></td>
    </tr>
</table>

    <span id="napredna">Napredna pretraga:</span>
<table id="table2">
    <tr>
        <td>Zanr:</td>
        <td>
            <select multiple [(ngModel)]="selectedGenre">
                <option *ngFor="let g of genre" ngValue="{{g}}">{{g}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Godina izdavanja:</td>
        <td>
            <input type="number" min="0" max="2022" [(ngModel)]="minYear">
            <input type="number" min="0" max="2022" [(ngModel)]="maxYear">
        </td>
    </tr>
    <tr>
        <td>Izdavac:</td>
        <td><input type="text" [(ngModel)]="publisher"></td>
    </tr>
</table>
<button (click)="search()" id="button">Pretrazi</button>

<hr>
<form *ngIf="searched" name="searched">
    <h3>Rezultat pretrage:</h3>
    <span style="color:orange">{{message}}</span><br><br>
    <table id="searched" *ngIf="show">
        <tr>
            <th>Naziv</th>
            <th>Autor</th>
            <th>Zanr</th>
            <th>Izdavac</th>
            <th>Godina izdavanja</th>
            <th>Jezik</th>
            <th>Korice</th>
        </tr>
        <tr *ngFor="let b of searchedBooks" (click)="detalji(b)">
            <td>{{b.title}}</td>
            <td><ul><li *ngFor="let a of b.author">{{a}}</li></ul></td>
            <td><ul><li *ngFor="let z of b.genre">{{z}}</li></ul></td>
            <td>{{b.publisher}}</td>
            <td>{{b.year}}</td>
            <td>{{b.language}}</td>
            <td><img src='{{b.pic}}' style="max-height: 150px; max-width: 100px;"></td>
        </tr>
    </table>
</form>
