<h3>Prijava</h3>
<table id="login">
    <tr>
        <td>Korisnicko ime:</td>
        <td><input type="text" name="username" [(ngModel)]="username"><br></td>
    </tr>
    <tr>
        <td>Lozinka:</td>
        <td><input type="password" name="password" [(ngModel)]="password"><br></td>
    </tr>
    <tr>
        <td><button (click)="login()">Prijava</button></td>
    </tr>
   
</table>
<span style="color:red">{{message}}</span>

<hr>
<h3>Registracija</h3>
<form>
<table>
    <tr>
        <td>Korisnicko ime:</td>
        <td><input type="text" [(ngModel)]="usernameR" name="uR"></td>
    </tr>
    <tr>
        <td>Lozinka:</td>
        <td><input type="password" [(ngModel)]="passwordR" name="cga"></td>
    </tr>
    <tr>
        <td>Ponovljena lozinka:</td>
        <td><input type="password" [(ngModel)]="password2R" name="ga"></td>
    </tr>
    <tr>
        <td>Ime:</td>
        <td><input type="text" [(ngModel)]="firstnameR" name="fa"></td>
    </tr>
    <tr>
        <td>Prezime:</td>
        <td><input type="text" [(ngModel)]="lastnameR" name="ad"></td>
    </tr>
    <tr>
        <td>Adresa:</td>
        <td><input type="text" [(ngModel)]="addressR" name="da"></td>
    </tr>
    <tr>
        <td>Kontakt telefon:</td>
        <td><input type="text" [(ngModel)]="phoneR" name="aa"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input type="text" [(ngModel)]="emailR" name="fa"></td>
    </tr>
    <tr>
        <td>Slika:</td>
    </tr>
    <tr>
        <td><input type="file" accept=".jpg,.png" (change)="change($event)">
            <div class="selected-image no-border" *ngIf="image!=null" ><img style="max-width: 100px; max-height: 100px;" src="{{image}}" /></div>
        </td>
    </tr>

</table>
    <button type="submit" (click)="register()">Registruj se</button>
</form>
<span style="color:red">{{messageR}}</span>
